/* #############
LAYOUT AND BASIC SETUP
############# */
body {
text-align:center; /* Centre for IE 6 */
margin:0px;
display:block;
width:816px;
margin:auto;
position:relative;
}


#header, #content{
width:780px;
text-align:left;
margin:0 auto; /* Centre for good browsers */ 
}

#header {
width:816px;
height:100px;
text-align:center; 
background:#fff url(../images/sprite.gif) 0px 55px no-repeat;
}

#content {
width:816px;
background:#fff url(../images/sprite.gif) -0px -222px no-repeat;
position:relative; /* so we can use position:absolute on the buy.at notice */
float:left; /*contain floated children*/
clear:none;
margin-top:-7px;
}

p, #pagination {
font-family:verdana, Arial, Helvetica, sans-serif;
}

p.introduction {
font:1em/160% verdana, arial, sans-serif;
margin:0px 54px 0px 230px;
}

h1 {
font:bold 1.929em "Century Gothic", verdana, sans-serif;
margin:12px;
text-align:left;
}

h1 a {
text-decoration:none;
color:#A30000;
}

h2 {
font:bold 1.1667em/1.286em verdana, arial, sans-serif;
margin:1.929em 54px  0.643em 230px;
}


/* #############
END LAYOUT AND BASIC SETUP
############# */

/* #############
SEARCH FORM
############# */

form {
text-align:center;
padding:10px;
margin-left:-180px;
}

#search {
background:#fff url(../images/sprite.gif) 0px -48px repeat;
width:240px;
}
#search, select {
border:1px solid #ccc;
font-size: 1.1em;
}
#search:active, #search:focus,  select:active, select:focus {
background-image:none;
border-color:#06C;
}

#content .button {
font-size:1.1em;
}

/* #############
END SEARCH FORM
############# */

/* #############
NAVIGATION BAR
############# */
#navigation {
width:180px;
background-color:#DEDEDE;
border:1px solid #2A3A67;
padding:4px 2px 4px 0px;
margin-left:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:0.8em;
float:left;
clear:none;
margin:66px 0px 24px 24px;
display:block;
text-align:left;
-moz-border-radius: 6px; /* firefox */
-webkit-border-radius: 6px; /* safari/chrome */
border-radius: 6px; /* future proofing */
}

#navigation li{
margin:0px;
position:relative;
display:block;
width:100%;
padding-left:5px;

list-style:none;
}

#navigation li a {
color:#3C6697;
font-weight:bold;
text-decoration:none;
margin:2px 0px;
display:block;
width:90%;
padding-left:10px;
padding-top:4px;
padding-bottom:4px;
background-color:#F0F0F0;
-moz-border-radius: 3px; /* firefox */
-webkit-border-radius: 3px; /* safari/chrome */
border-radius: 3px; /* future proofing */
}

#navigation li.on  a, #navigation li a:hover, #navigation li a:active, #navigation li a:focus {
color:#000;
background:#FFF;
margin:2px 0px;
-moz-border-radius: 3px; /* firefox */
-webkit-border-radius: 3px; /* safari/chrome */
border-radius: 3px; /* future proofing */
}

/* #############
END NAVIGATION BAR
############# */

/* #############
PAGINATION
############# */

#content ol#pagination {
padding:10px 20px 15px 0px;
text-align:right;
font-size:0.8333em;
width:780px;
clear:both;
margin-left:8px;
margin-top:-8px;
}

#content ol#pagination li{
display:inline;
border:0px;
background-color:transparent;
margin:0px;
padding-right:3px;
padding-left:0px;
}

#content ol#pagination li:last-child {
border:0px;
}
	

/* #############
END PAGINATION
############# */

/* #############
PRODUCT LISTINGS
############# */

#content ol {
background-color:#efefef;
width:600px;
margin:0px 0px 0px 8px;
margin-left:200px;
list-style:none;
}
.noresults{
width:600px;
margin:24px 0px 0px 8px;
padding-left:220px;
font-size:0.8em;
}

#content ol li, #productdetail{
display:block;
border:1px solid #ccc;
background-color:#fff;
margin:8px 18px;
height:134px;
padding-left:144px;
position:relative;
-moz-border-radius: 6px; /* firefox */
-webkit-border-radius: 6px; /* safari/chrome */
border-radius: 6px; /* future proofing */
list-style:none;

overflow:hidden;
}

#productdetail {
width:426px;
height:auto;
float:right;
display:inline;
clear:none;
margin-top:19px;
padding-bottom:24px;
min-height:115px;
}

#content #productdetail p {
}


#content ol li img ,  #productdetail img{
margin:12px;
float:left;
clear:none;
display:block;
position:absolute;
left:24px;
border:0px;
padding:4px;
border:1px solid #ccc;
max-width:80px;
}

#content ol li h3,  #productdetail h3{
margin-top:20px;
font:bold italic 0.8em "Century Gothic", verdana, sans-serif;
margin-bottom:2px;
}

#content ol li h3 a ,  #productdetail h3 a{
color:#323333;
text-decoration:none;
padding-right:20px;
background:#fff url(../images/sprite.gif) right -203px no-repeat;
}

#content ol li h3 a:hover, #content ol li h3 a:active, #content ol li h3 a:focus {
background:#fff url(../images/sprite.gif) right -188px no-repeat;
color:#999;
}

#content ol li p.price,  #productdetail p.price{
color:#3C6697;
font:bold italic 0.9em "Century Gothic", verdana, sans-serif;
margin:0px;
margin-bottom:2px;
}

#content ol li p ,  #productdetail p{
font:0.7em/140% verdana, arial, sans-serif;
color:#333;
margin:0px 0px 3px;	
padding-right:20px;
}

#content ol li ul,  #productdetail ul{
font:0.7em/140% verdana, arial, sans-serif;
padding-left:0px;
}

#content ol li ul li, #productdetail ul li {
display:inline;
border:0px;
margin:0 5px 0 0;
padding:0px;
}

.more {
padding-left:8px;
padding-right:16px;
margin-left:3px;
border-left:1px solid #ccc;
color:#CF7D02;
}

#content ol li ul li a:hover, #content ol li ul li a:active, #content ol li ul li a:focus {
color:#323333;
}

#content a.back {
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:0.8em;
	float:right;
	margin-right:25px;
	padding-top:20px;
	font-weight:700;
}

/* #############
END PRODUCT LISTINGS
############# */

/* #############
BUY.AT NOTICE 
############# */

#copy {
clear:both;
background:#fff url(../images/sprite.gif) -22px -71px no-repeat;
font-size:0.7em;
height:24px;
text-align:right;
margin:0px 8px;
padding-top:8px;
padding-right:60px;
border-top:1px solid #CCC;
}


#copy a {
color:#323333;
text-decoration:none;
}
/* #############
END BUY.AT NOTICE 
############# */

/* #############
LIGHTBOX 
############# */

#lightbox{
	display:none;
	position: absolute;
	top:50%;
	left:50%;
	z-index:9999;
	width:605px;
	height:auto;
	margin:-220px 0 0 -250px;
  border:5px solid #323333;
	background:#FDFCE9;
	text-align:left;
  padding: 5px;
  text-align:left;
}

#lightbox #productdetail {
	width:auto;
}

#lightbox[id]{
	position:fixed;
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5000;
	background-color:#000;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
	  text-align:left;

}
#overlay[id]{
	position:fixed;
}

#lightbox.done #lbLoadMessage{
	display:none;

}
#lightbox.done #lbContent{
	display:block;
}
#lightbox.loading #lbContent{
	display:none;
}
#lightbox.loading #lbLoadMessage{
	display:block;
	font-size:80%;
	text-decoration: blink;
}

.close {
position:absolute;
top:3px;
right:6px;
font:80% verdana, arial, sans-serif;
color:#333;
}

#searchfilter {
  width:550px;
  background-color:#;
  /*border:1px solid #2A3A67;*/
  padding:4px 4px 4px 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:0.8em;
  margin:10px 0 0 218px;
  text-align: right;
-moz-border-radius: 3px; /* firefox */
-webkit-border-radius: 3px; /* safari/chrome */
border-radius: 3px; /* future proofing */
}

#searchfilter label {

}